In [ ]:
# !unzip "/content/drive/MyDrive/JunctionX 2022/csv/junction.zip"

In [ ]:
activityDict = {
    "5e81c0432aaf8181a700000b":"Complete your profile",
    "5e58ccd22cf1905a748b463e":"Joined the Program",
    "5ea68d90b377830a00000070":"Earn bonus +150 points on your next purchase!",
    "5f8417903f4cfd120c8b458f":"Complete your referral with a purchase",
    "6242aa0bdebd8b2ee87c3631":"Redeem a Reward",
    "6242aa6a2905fe804038a9bc":"Upgrade to Silver Loyalty Tier",
    "6242d76edebd8b77890fb4e2":"Upgrade to Gold Loyalty Tier",
    "624409683f7d41816127e659":"Bought a Staples Piece",
    "624409cc3f7d41816127e65f":"Made 2 Friend Referrals",
    "62440ac160ace45d990760bd":"Made 3 Transactions",
    "62440b123d9f9884723b8aa5":"Make a Retail Purchase",
}

In [ ]:
import pandas as pd

In [ ]:
from pandas.core.array_algos.transforms import shift
def customer_journey(customer_id):
  customer = opt_out["customer"] == customer_id
  return opt_out[customer].sort_values(by=['timestamp']).reset_index(drop=True)
# "opted_out_1598722664:142d64be24a2efe2c37f5617790622f223d87943"

def get_last_action_before_opt_out(df, shouldReturnAction = False):
  isOptOut = df["action"] == "opt_out"
  try:
    indexOfActionBeforeOptOut = df[isOptOut].index[0] - 1
  except:
    print("An exception occurred")
    print(df)
  if(shouldReturnAction):
    if (df.iloc[indexOfActionBeforeOptOut]["action"] == "activity"):
      return activityDict[df.iloc[indexOfActionBeforeOptOut]["properties.activity"]]
    else:
      return df.iloc[indexOfActionBeforeOptOut]["action"]
  return df.iloc[indexOfActionBeforeOptOut]

def getTimeDifference(df):
  isOptOut = df["action"] == "opt_out"
  return (df[isOptOut]["unix_timestamp"] - get_last_action_before_opt_out(df)["unix_timestamp"])/ (3600 * 24)

In [ ]:
opt_out = pd.read_csv('/content/drive/MyDrive/opt-out_customer_history.csv');
opt_out.columns

Index(['_id', 'timestamp', 'unix_timestamp', 'date', 'customer', 'action',
       'points', 'properties.transaction_id', 'properties.total',
       'properties.currency', 'properties.discount', 'properties.shipping',
       'properties.gift_card_amount', 'properties.billing_country',
       'properties.store_credit_amount', 'properties.bonus_points', 'expdate',
       'expired', 'used_points', 'properties.quantity', 'properties.referred',
       'properties.reward', 'properties.subtotal', 'properties.customer',
       'properties.product_category', 'properties.purchase_total',
       'properties.personal_style', 'properties.transfer_to',
       'properties.points_rewarded', 'properties.price',
       'properties.shoe_size', 'properties.activity', 'properties.gender',
       'properties.points', 'properties.giftcard_id',
       'properties.marketing_optin', 'properties.occupation',
       'properties.has_kid', 'properties.purchase_count', 'properties.on_sale',
       'properties.giftcard_expires_at', 'properties.product_id'],
      dtype='object')

In [ ]:
opt_out = opt_out[['_id', 'timestamp', 'unix_timestamp', 'customer', 'action','properties.activity']]
 
opt_out

,_id,timestamp,unix_timestamp,customer,action,properties.activity,properties.points
0,5ede46e9bd4bfd6f558b456c,2020-06-08T14:10:49.946Z,1591625449,opted_out_1598722664:142d64be24a2efe2c37f56177...,checkout,NaN,NaN
1,5ede4842bf4bfdc8528b456c,2020-06-08T14:16:34.281Z,1591625794,opted_out_1598722664:142d64be24a2efe2c37f56177...,checkout,NaN,NaN
2,5ede4a91bc4bfdd4588b456c,2020-06-08T14:26:25.115Z,1591626385,opted_out_1598722641:d8d064b85370985866897e046...,checkout,NaN,NaN
3,5ede5a05be4bfde1698b456c,2020-06-08T15:32:21.501Z,1591630341,opted_out_1598722706:adae0d962084d1b45c6ecb189...,checkout,NaN,NaN
4,5ede5a30be4bfd146a8b456c,2020-06-08T15:33:04.395Z,1591630384,opted_out_1598722706:adae0d962084d1b45c6ecb189...,checkout,NaN,NaN
...,...,...,...,...,...,...,...
3601,628e0da5eddaf2487f481d32,2022-05-25T11:06:12.864Z,1653476772,opted_out_1655257744:d29b6528c88203ac7442216bb...,checkout_item,NaN,NaN
3602,628e23742959425357702b94,2022-05-25T12:39:16.082Z,1653482356,opted_out_1655257744:d29b6528c88203ac7442216bb...,checkout_item,NaN,NaN
3603,628e249fa12acf311c7e6196,2022-05-25T12:44:15.053Z,1653482655,opted_out_1655257744:d29b6528c88203ac7442216bb...,checkout_item,NaN,NaN
3604,629d91d34562f1486136fee4,2022-06-06T05:34:11.011Z,1654493651,opted_out_1655257744:d29b6528c88203ac7442216bb...,checkout_item,NaN,NaN
3605,629d91d34562f1486136fee3,2022-06-06T05:34:11.011Z,1654493651,opted_out_1655257744:d29b6528c88203ac7442216bb...,checkout_item,NaN,NaN

In [ ]:
opt_out['action'].value_counts()

activity             522
points_expired       506
level_up             486
opt_out              465
opt_in               464
reward               446
profile              266
checkout_item        141
checkout             122
level_set             34
coupon_redeem         28
profile_completed     26
program_transfer      22
point_add             17
level_down            14
referral              13
daily_login           13
point_sub             11
refund                 8
referral_points        1
campaign_bonus         1
Name: action, dtype: int64

In [ ]:
unique_customer_id = pd.unique(opt_out['customer']).tolist()

In [ ]:
model_journey = customer_journey(unique_customer_id[0])
model_journey

,_id,timestamp,unix_timestamp,customer,action,properties.activity,properties.points
0,5ed94ed3b44bfd0a088b4828,2020-06-04T19:43:15.187Z,1591299795,opted_out_1598722664:142d64be24a2efe2c37f56177...,opt_in,NaN,NaN
1,5ed94ed4b44bfd0a088b482e,2020-06-04T19:43:16.481Z,1591299796,opted_out_1598722664:142d64be24a2efe2c37f56177...,reward,NaN,NaN
2,5ed94ed5b44bfd0a088b4837,2020-06-04T19:43:17.139Z,1591299797,opted_out_1598722664:142d64be24a2efe2c37f56177...,level_up,NaN,NaN
3,5ed94edbb44bfd0a088b4840,2020-06-04T19:43:23.214Z,1591299803,opted_out_1598722664:142d64be24a2efe2c37f56177...,activity,5e58ccd22cf1905a748b463e,NaN
4,5ede46e9bd4bfd6f558b456c,2020-06-08T14:10:49.946Z,1591625449,opted_out_1598722664:142d64be24a2efe2c37f56177...,checkout,NaN,NaN
5,5ede46eabd4bfd6f558b457b,2020-06-08T14:10:50.129Z,1591625450,opted_out_1598722664:142d64be24a2efe2c37f56177...,level_up,NaN,NaN
6,5ede4709bd4bfd8c558b456f,2020-06-08T14:11:21.351Z,1591625481,opted_out_1598722664:142d64be24a2efe2c37f56177...,reward,NaN,NaN
7,5ede4842bf4bfdc8528b456c,2020-06-08T14:16:34.281Z,1591625794,opted_out_1598722664:142d64be24a2efe2c37f56177...,checkout,NaN,NaN
8,5ede4842bf4bfdc8528b4571,2020-06-08T14:16:34.300Z,1591625794,opted_out_1598722664:142d64be24a2efe2c37f56177...,activity,5ea68d90b377830a00000070,NaN
9,5ede4842bf4bfdc8528b457e,2020-06-08T14:16:34.557Z,1591625794,opted_out_1598722664:142d64be24a2efe2c37f56177...,level_up,NaN,NaN
10,5ede484dbf4bfdc8528b4596,2020-06-08T14:16:45.645Z,1591625805,opted_out_1598722664:142d64be24a2efe2c37f56177...,reward,NaN,NaN
11,5eef83993a9ad3ca7b8b56dd,2020-06-21T15:58:17.219Z,1592755097,opted_out_1598722664:142d64be24a2efe2c37f56177...,reward,NaN,NaN
12,5f4a92680f4cfd521e8b45ce,2020-08-29T17:37:44.553Z,1598722664,opted_out_1598722664:142d64be24a2efe2c37f56177...,opt_out,NaN,NaN
13,61aa66abef50b3c42b8c60b0,2021-12-03T18:49:15.738Z,1638557355,opted_out_1598722664:142d64be24a2efe2c37f56177...,points_expired,NaN,NaN
14,61aa9492ef50b31c318c845f,2021-12-03T22:05:06.837Z,1638569106,opted_out_1598722664:142d64be24a2efe2c37f56177...,points_expired,NaN,NaN
15,61aa9492ef50b31c318c846a,2021-12-03T22:05:06.887Z,1638569106,opted_out_1598722664:142d64be24a2efe2c37f56177...,points_expired,NaN,NaN
16,61aa9492ef50b31c318c846b,2021-12-03T22:05:06.893Z,1638569106,opted_out_1598722664:142d64be24a2efe2c37f56177...,points_expired,NaN,NaN
17,629a50aba344627837011d63,2022-06-03T18:19:23.429Z,1654280363,opted_out_1598722664:142d64be24a2efe2c37f56177...,level_down,NaN,NaN

In [ ]:
# Visualise this journey

In [ ]:
get_last_action_before_opt_out(model_journey)["action"]

'reward'

In [ ]:
getTimeDifference(model_journey).values[0]

69.0690625

In [ ]:
detailed_list = [{"id" : id, 
                  "last_action" : get_last_action_before_opt_out(customer_journey(id), True), 
                  "days" : getTimeDifference(customer_journey(id)).values[0]} for id in unique_customer_id];
detailed_list

In [ ]:
opt_out_df = pd.DataFrame(detailed_list)
opt_out_df.to_csv('opt_out_by_customer.csv')

In [ ]:
opt_out_df = opt_out_df[opt_out_df['last_action'] != 'opt_out']

In [ ]:
opt_out_df['last_action'].value_counts()

Joined the Program                               196
profile                                           84
reward                                            73
level_up                                          67
point_sub                                          9
coupon_redeem                                      7
referral                                           6
checkout_item                                      5
checkout                                           4
program_transfer                                   4
daily_login                                        3
point_add                                          2
refund                                             1
Earn bonus +150 points on your next purchase!      1
Complete your referral with a purchase             1
referral_points                                    1
Name: last_action, dtype: int64

In [ ]:
opt_out_df['days'].describe()

count    464.000000
mean      31.048531
std       48.356158
min        0.000069
25%        0.004899
50%       10.238513
75%       45.260825
max      355.833924
Name: days, dtype: float64

In [ ]:
opt_out_df[opt_out_df['days'] > 20]['last_action'].value_counts()

Joined the Program    108
level_up               58
reward                 23
profile                17
coupon_redeem           3
referral                3
checkout_item           2
checkout                1
point_add               1
Name: last_action, dtype: int64

In [ ]:
joined_program_quiter = opt_out_df[opt_out_df['last_action'] == 'Joined the Program'].sort_values(by=['days'])
joined_program_quiter['id']

376    opted_out_1602434787:cc6f06361540a498fce382035...
374    opted_out_1602434727:cc6f06361540a498fce382035...
375    opted_out_1602434755:cc6f06361540a498fce382035...
372    opted_out_1602434564:cc6f06361540a498fce382035...
373    opted_out_1602434593:cc6f06361540a498fce382035...
                             ...
430    opted_out_1610525762:bf7fcb36c7f79b0d0db7b2e2c...
279    opted_out_1657817194:53c81a25b5772285ac7a5a772...
278    opted_out_1657176975:a9cd5f19fb6472434fee067d7...
90     opted_out_1616332740:fb1542b8be223e2c78817dee3...
104    opted_out_1618807979:721ae3dd8da77c6bc1db42bba...
Name: id, Length: 196, dtype: object